@font-face {
  font-family: 'main';
  src: url('./../public/fonts/main.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

body {
  @apply bg-white dark:bg-zinc-950 text-zinc-900 dark:text-zinc-50 transition-colors duration-300;
  overflow-x: hidden;
}

@theme {
  --font-main: main
}

::selection {
  @apply bg-green-600 text-yellow-400
}