@font-face {
  font-family: 'main';
  src: url('/fonts/main.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playpen Sans Arabic';
  src: url('/fonts/PlaypenSansArabic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playpen Sans Arabic';
  src: url('/fonts/PlaypenSansArabic-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zain';
  src: url('/fonts/Zain-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

body {
  @apply bg-white dark:bg-zinc-950 text-zinc-900 dark:text-zinc-50 transition-colors duration-300;
  overflow-x: hidden;
}

@theme {
  --font-main: main;
  --font-arabic: "Playpen Sans Arabic", "Zain", main, sans-serif;
}

::selection {
  @apply bg-green-600 text-yellow-400
}